<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{navbarLogged :: navbar}">  </div>





<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h1 th:align="center">Administration</h1>


      <table class="table table-striped ">
        <thead class="table-dark">

        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Edit Role</th>
        <th scope="col">Save</th>


        <tr th:each="user: ${userList}">
          <td th:text="${user.getUsername()}"/>
          <td th:text="${user.getEmail()}"/>
          <td th:text="${user.getRoles()}"/>
          <td>
            <form th:action="@{|/notes/adminPage|}"   th:object="${user}" method="post">

              <select name="roles" >
                <option th:each="role : ${userRoles}"
                        th:value="${role}"
                        th:selected="(${user.getRoles()} == ${role})"
                        th:text="${role}">
                </option>
              </select>
              <td>
              <div class="Editsavebtn col-md-6" >
                <button class="btn btn-success mt-2 my-4"  type="submit">
                  Save changes
                </button>
              </div>
              </td>
              <input type="hidden"  th:value="${user.getId()}" name="id"/>
            </form>
          </td>
        </tr>
        </thead>

      </table>




    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>