<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h1 th:text="${Name}"/>
</head>
<body>
<p th:text="${Name}"/>
<table class="table table-striped ">
    <thead class="table-dark">
    <tr>

        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Date</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="note: ${NotesList}">
    <td th:text="${note.getTitle()}"/>
    <td th:text="${note.getCategory()}"/>
    <td th:text="${note.dateToString()}"/>

    </tr>
    </tbody>
</table>


<a th:if="${page<NumberOfPages}" th:href="@{/notes(sortBy=${sortBy},pageSize=${pageSize},page=${page}+1)}">Następna strona</a>
<p><a th:if="${page>0}" th:href="@{/notes(sortBy=${sortBy},pageSize=${pageSize},page=${page}-1)}">Poprzednia strona</a></p>
</body>
</html>