<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="text-center">
        <form action="#" th:action="@{/register}" th:object="${person}" method="post">
            <div class="row justify-content-center my-5">
                <div class="col-lg-5">
                    <h1>Sign up</h1>
                        <div>
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" th:field="*{name}" required="required" />
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                        </div>
                        <div>
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" th:field="*{email}" required="required" />
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" th:field="*{password}" required="required" />
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                        </div>
                    <div><button type="submit" class="btn btn-primary" >Register</button></div>
                </div>
            </div>
        </form>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>